{
  "semi": false,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 92,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
