* {
  box-sizing: border-box;
}
.main {
  padding: 15px;
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  background: var(--theme);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.page-header h1 {
  font-size: 2rem;
}
.social-icons a svg {
  height: 15px;
  width: 15px;
}
.social-icons {
  padding: 0px 0;
}
.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
