* {
  box-sizing: border-box;
}
.main {
  padding: 15px;
}
body {
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);
  font-weight: 400 !important;
  margin: 0;
  padding: 0;
}
.page-header h1 {
  font-size: 32px;
}
.social-icons a svg {
  height: 15px;
  width: 15px;
}
.social-icons {
  padding: 0px 0;
}
.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
