.first-entry {
  min-height: 150px;
  text-align: left;
  margin: 0.5rem;
}
.first-entry .entry-header h1 {
  font-size: 2rem;
}
.first-entry .entry-content {
  font-size: 0.95rem;
  line-height: 1.5;
}
.entry-header h2 {
  font-size: 1.5rem;
}
.post-entry .entry-content {
  font-size: 0.95rem;
  line-height: 1.5;
}
