.post-content {
  max-width: 720px;
}

.post-header {
  margin: 20px auto var(--content-gap) auto;
}

.post-title {
  margin-bottom: 2px;
  font-size: 32px;
}

.post-content h1 {
  font-size: 32px;
  margin: 40px auto 24px;
}

.post-content h2 {
  font-size: 26px;
  margin: 36px auto 18px;
}

.post-content h3 {
  font-size: 20px;
  margin: 28px auto 14px;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 2px;
  color: var(--code-color);
  font-family: "JetBrains Mono", monospace;
}

.post-content pre code {
  color: inherit;
  background: var(--code-bg);
  font-family: "JetBrains Mono", monospace;
}

/* Blockquotes with same background as code */
.post-content blockquote {
  background: var(--code-bg);
  margin: 20px 0;
  padding: 10px 10px;
  border-radius: var(--radius);
}

/* Remove bottom margin from last element in blockquotes */
.post-content blockquote > *:last-child {
  margin-bottom: 0;
}

.toc {
  font-size: 16px;
  margin: 0 2px 20px 2px;
}

.toc .details {
  display: inline;
  font-weight: 400;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-flex;
  color: var(--secondary);
  margin-inline-start: 8px;
  font-weight: 400;
  user-select: none;
}

.post-content img {
  border-radius: 4px;
  border: 3px solid var(--code-bg);
  margin: 1rem 0;
}
.post-content img[src*="#center"] {
  margin: 1rem auto;
}

/* Add [] to footnote-ref and remove url underline */
a.footnote-ref {
  box-shadow: none;
}
a.footnote-ref::before {
  content: "[";
}
a.footnote-ref::after {
  content: "]";
}

/* Tags in post meta section styling */
.post-tags-meta {
  margin-top: 8px;
}

.post-tags-meta .post-tags {
  display: inline-flex;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}
