{{- define "main" }}
<div class="content-column">

<h1>{{ .Title }}</h1>

{{- range (site.RegularPages).GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 id="{{ .Key }}">
    <a href="#{{ .Key }}">{{ .Key }}</a>
    <sup>&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 id="{{ $.Key }}-{{ .Key }}">
      <a href="#{{ $.Key }}-{{ .Key }}">{{ .Key }}</a>
      <sup>&nbsp;{{ len .Pages }}</sup>
    </h3>
    <div class="post-list">
    {{- range .Pages }}
      <div class="post">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="date">{{ .Date.Format site.Params.DateFormat }}</span>
      </div>
    {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

</div>
{{- end }}
