{{- define "main" }}
<div class="content-column">

<h1>{{ .Title }}</h1>

{{- $articles := where site.RegularPages "Section" "in" site.Params.mainSections }}
{{- $notes := where site.RegularPages "Section" site.Params.notesSection }}
{{- $pages := union $articles $notes }}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 id="{{ .Key }}">
    <a href="#{{ .Key }}">{{ .Key }}</a>
    <sup>&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 id="{{ $.Key }}-{{ .Key }}">
      <a href="#{{ $.Key }}-{{ .Key }}">{{ .Key }}</a>
      <sup>&nbsp;{{ len .Pages }}</sup>
    </h3>
    {{ partial "post-list.html" .Pages }}
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

</div>
{{- end }}
