<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
    {{- range site.Params.schema.sameAs }}
    <link rel="me" href="{{ . }}">
    {{- end }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main"
    {{- if or (eq .Layout "archives") (eq .Layout "search") (eq .Kind "taxonomy") (eq .Kind "term") (in .RelPermalink "/about/") (in .RelPermalink "/blogroll/") (in .RelPermalink "/talks/") (in .RelPermalink "/lore/") }} data-pagefind-ignore{{- end }}>
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
