{{- define "main" }}
<div class="content-column">

<h1>{{ .Title }}</h1>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" defer></script>
<div id="search" role="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false,
      excerptLength: 15,
      placeholder: "Search...",
      processTerm: function(term) { return term.length >= 3 ? term : null; }
    });
  });
</script>

</div>
{{- end }}
