{{- define "head-extra" }}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
{{- end }}

{{- define "main" }}
<div class="content-column">

<h1>{{ .Title }}</h1>

<script src="/pagefind/pagefind-ui.js" defer></script>
<div id="search" role="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false,
      excerptLength: 15,
      placeholder: "Search...",
      processTerm: function(term) { return term.length >= 3 ? term : null; },
      ranking: {
        termFrequency: 0.0,
        pageLength: 0.75,
        termSaturation: 1.2,
        termSimilarity: 1.0
      }
    });
  });
</script>

</div>
{{- end }}
