{{- $notes := site.Params.notesSection }}
{{- $pages := .pages }}
{{- $showExcerpt := .showExcerpt | default false }}
<div class="post-list{{ if $showExcerpt }} post-list-rich{{ end }}">
  {{- range $pages }}
  {{- $type := "article" }}
  {{- if eq .Section $notes }}
    {{- $type = "shard" }}
  {{- end }}
  {{- with .Params.type_label }}{{- $type = . }}{{- end }}
  <div class="post">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <span class="date"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format site.Params.DateFormat }}</time> · <span class="type-label">{{ $type }}</span></span>
    {{- if $showExcerpt }}
    {{- with (.Description | default .Summary | plainify | htmlUnescape) }}
    <p>{{ . }}</p>
    {{- end }}
    {{- end }}
  </div>
  {{- end }}
</div>
